[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccp-api = {editable = true, path = "."}
zeep = "*"
pyaml = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
pytest-coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coveralls = "*"

[requires]
python_version = "3.7"
